.gameContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

.randomChar {
  height: 147px;
}

.userChar {
  height: 92px;
}

.virtualKeyboard {
  height: 275px;
}

.miko {
  height: 200px;
}

.success {
  text-shadow: 0 0 10px #38491b;
  box-shadow: inset 5px 10px 50px 15px #38491b;
}

.fail {
  text-shadow: 0 0 10px #612323;
  box-shadow: inset 5px 10px 50px 15px #612323;
}

.superButton {
  position: absolute;
  top: 90%;
  right: 10%;
}

.currentKeyboard {
  background: var(--color-danger-900);
}

.myTheme {
  width: 800px;
  color: green;

  .currentKeyboard {
    background-color: var(--color-danger-900);
  }
}
