@mixin styles-by-color($color) {
  color: $color;
  background-color: transparent;

  //box-shadow: none;
}

// миксин  для псевдоклассов :hover и :active
@mixin hover-and-active-styles($hover-color, $active-color) {
  &:hover {
    @include styles-by-color($hover-color);

    box-shadow: 0 0 3px $hover-color;
  }

  &:active {
    @include styles-by-color($active-color);

    filter: drop-shadow(0 0 2px $active-color);
  }
}

.gameContainer {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

.randomChar {
  z-index: 4;
  height: 147px;
}

.userChar {
  z-index: 4;
  height: 92px;
  margin-top: 20px;
}

.virtualKeyboard {
  z-index: 4;
  height: 275px;
}

.miko {
  z-index: 4;
  height: 200px;
}

//.miko {
//  position: absolute;
//  z-index: 4;
//  bottom: 15%;
//  height: 200px;
//}

.success {
  z-index: 4;
  text-shadow: 0 0 10px #38491b;
  box-shadow: inset 5px 10px 50px 15px #38491b;
}

.fail {
  z-index: 4;
  text-shadow: 0 0 10px #612323;
  box-shadow: inset 5px 10px 50px 15px #612323;
}

.stage {
  position: absolute;
  top: 5%;
  right: 30px;
  font-size: 30px;
}

.superButton {
  position: absolute;
  top: 90%;
  right: 0;
}

.voice {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 90%;
  left: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  color: var(--color-success-900);

  background-color: transparent;
  border: 1px solid var(--color-success-900);
  border-radius: 50%;

  @include hover-and-active-styles(var(--color-success-700), var(--color-success-500));

  &:focus {
    outline: 2px solid var(--color-success-700);
  }

  &.voiceOff {
    color: var(--color-danger-900);
    border: 1px solid var(--color-danger-900);

    @include hover-and-active-styles(var(--color-danger-700), var(--color-danger-500));

    &:focus {
      outline: 2px solid var(--color-danger-700);
    }
  }
}

.currentKeyboard {
  background: var(--color-danger-900);
}

.myTheme {
  width: 800px;
  color: transparent;

  .currentKeyboard {
    background-color: var(--color-danger-900);
  }
}
